// SPDX-License-Identifier: GPL-2.0-or-later
/dts-v1/;

/* This dts file describes the HTC One X smartphone */
/* CPU Speedo ID 4, Soc Speedo ID 1, CPU Process: 1, Core Process: 0 */

#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/linux-event-codes.h>

#include "tegra30.dtsi"

/ {
	model = "HTC One X";
	compatible = "htc,endeavoru", "nvidia,tegra30";

	chosen {
		stdout-path = &uarte;
	};

	aliases {
		mmc0 = &sdmmc4;	/* eMMC */

		rtc1 = "/rtc@7000e000";

		usb0 = &usb1;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	uarte: serial@70006400 {
		status = "okay";
	};

	pwm: pwm@7000a000 {
		status = "okay";
	};

	sdmmc4: sdhci@78000600 {
		status = "okay";
		bus-width = <8>;
		non-removable;
	};

	usb1: usb@7d000000 {
		status = "okay";
		dr_mode = "otg";
	};

	gpio-keyboard {
		compatible = "gpio-keys-input";

		power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(U, 6) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
		};

		volume-up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(S, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_UP>;
		};

		volume-down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(W, 3) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_DOWN>;
		};
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock@0 {
			compatible = "fixed-clock";
			reg = <0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};
};
